<h3>Edit order {{createdAt}}:</h3>

<ul>
  {{#each lineitem in controller.model.lineitems}}
    <li>
      <span>{{lineitem.amount}} {{lineitem.item.measuredIn}} {{lineitem.item.name}}</span>
      <i {{action 'removeFromOrder' lineitem}} class="clickable md md-highlight-remove"></i>
    </li>
  {{/each}}
</ul>

{{partial "items/available-items-grid"}}

<button {{action 'save' this}} class="button">Save</button>
